.upload {
  .modal-backdrop.show {
    opacity: 0.8;
  }

  .modal-content {
    background-color: rgba($second-color, $alpha: 0.9);
    color: $main-color;
    border-radius: 1rem;
    border: 1px solid $text-color;
  }

  .modal-dialog {
    width: 350px !important;
  }

  .modal-body {
    display: flex;
    flex-direction: column;
    padding: 2rem;
  }
}

.upload-form {
  color: $text-color;
}
