@import "variables";

.App {
  text-align: center;

  &-header {
    background-color: $second-color;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $text-color;
  }

  &-title {
    margin-bottom: 2rem;
  }

  &-pool {
    display: flex;
    flex-wrap: wrap;
  }

  Button {
    padding: 0;
    background: none;
    &.focus,
    &:focus {
      outline: 0;
      box-shadow: none !important;
    }

    &:hover {
      background: none;
    }
  }
}
.monster {
  .modal-content {
    height: 50vh;
  }

  .modal-footer {
    border: none;
  }

  &-image {
    border-radius: 50%;
  }

  &-info {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.monster-btn-img {
  border-radius: 20%;
  margin: 0.2rem;
  opacity: 0.3;
  filter: grayscale(90%);
}

.poolBox {
  width: 60vw;
  // border: 1px solid $main-color;
  padding: 2rem;
}

/////////////////////////////////////////////////////////menu.js
.menuBox {
  padding: 1rem;
  position: fixed;
  bottom: 0;
  height: 20vh;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  // border: 1px solid $main-color;
}
