.navContainer {
  width: 50vw;
  height: 50vh;
}

.navtabs {
  border: none;
  color: rgb(174, 4, 4);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
}

.navtabs:hover {
  border-radius: 30px;
  color: white;
  background-color: rgb(240, 58, 58);
}

.navtabs:hover::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: rgb(66, 57, 194);
  transform-origin: left;
  transition: width 2s ease;
  z-index: -1;
}

.navtabs:hover::after {
  width: 100%;
}

.btn {
  display: inline-block;
  text-transform: uppercase;
  padding: 1em 1.5em;
  background: none;
  color: darkblue;
  font-weight: bold;
  position: relative;
  transition: color 0.25s ease;
  border: 3px solid white;
}

.btn:hover {
  color: red;
}

.btn::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: rgb(63, 142, 85);
  transform-origin: left;
  transition: width 0.25s ease;
  z-index: -1;
}

.btn:hover::after {
  width: 100%;
}
